<!DOCTYPE html>
<html>
  <head>
    <title>500px Top 100</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" %>
    <%= javascript_include_tag "https://use.fontawesome.com/d554521dec.js" %>

  </head>
  <%= render 'layouts/nav' %>
  <body>
    <%= yield %>
  </body>
</html>
